{
    "presets": [
        ["env", {
            "targets": {
                // "browsers": ["last 2 versions", "safari >= 7", "ie >= 9"]
                "uglify": true
            },
            "modules": false,
            "useBuiltIns": true
        }],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
