{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["safari >= 7", "ie >= 9", "defaults"],
          "uglify": true
        },
        "modules": false,
        // TODO: learn
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
