<!DOCTYPE html>
<html>

<head>
    <%= require('./head.html') %>
    <title>
        <%= htmlWebpackPlugin.options.description %>
    </title>
    <link rel="apple-touch-icon" href="./icon.png">
</head>

<body>
    <div id="root"></div>
</body>

</html>
