* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 600px;
}

.root {
    margin: 0 auto;
    width: 600px;
}

.title {
    margin: 20px 0;
    text-align: center;
    color: rgba(175, 47, 47, 0.15)
}

.main {
    background-color: #ffffff;
}

.header {
    border-bottom: 1px solid #ededed;
}

.all-completed {
    margin-left: 10px;
    padding: 5px;
    height: 30px;
}

.new-todo {
    padding: 10px;
    border: 0;
    width: 80%;
    height: 40px;
}

.new-todo::before {
    content: "â¯";
    font-size: 22px;
    color: rgb(230, 230, 230);
    padding: 10px 27px;
}

.list {
    width: 600px;
}

.item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ededed;
}

.completed>label.todo {
    color: #d9d9d9;
    text-decoration: line-through;
}

.change-status,
.delete {
    width: 50px;
}

.todo {
    display: inline-block;
    border: 0;
    width: 490px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.delete {
    border: 0;
    background-color: transparent;
}

.footer {
    padding: 10px;
}

.footer>* {
    margin: 0 15px;
    color: rgb(119, 119, 119);
}

.footer>a {
    padding: 5px;
    text-decoration: none;
}

.footer>a.active {
    border: 1px solid rgba(175, 47, 47, 0.2);
}

.clear-completed {
    border: 0;
    background-color: transparent;
    font-size: 16px;
}

.hide {
    display: none;
}
